# Laboratorium 3: Zaawansowane operacje na danych w Pandas

## Marcin Ogórkiewicz 120674, grupa 1

### Zadanie 1.	Łączenie zestawów danych
Zaimportuj dwa dostarczone zestawy danych – dane klientów oraz dane zamówień. Wykonaj następujące kroki:
a.	Połącz dane za pomocą merge() na wspólnym kluczu, np. customer_id.
b.	Wykorzystaj różne typy połączeń (inner, outer, left, right) i porównaj wyniki.
c.	W połączonym zestawie danych znajdź klientów, którzy nie złożyli żadnych zamówień.
d.	Użyj concat() do dodania nowych rekordów do tabeli zamówień i pokaż różnicę.

In [288]:
import pandas as pd
customers_data = pd.read_csv('customers_data.csv') #sczytywanie danych z pliku .csv
orders_data = pd.read_csv('orders_data.csv') #sczytywanie danych z pliku .csv
#a.
merged_data_left = pd.merge(customers_data, orders_data, 'left', 'customer_id') #łączenie zestawów danych typ "left"
merged_data_left

,customer_id,name,email,signup_date,country,order_id,order_date,order_value,product_name,category
0,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00813,2021-02-03 20:00:00,1931.66,Laptop,Elektronika
1,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00892,2021-02-07 03:00:00,1866.88,Laptop,Akcesoria
2,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02287,2021-04-06 06:00:00,1732.87,Tablet,Elektronika
3,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02564,2021-04-17 19:00:00,4187.44,Laptop,Elektronika
4,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02987,2021-05-05 10:00:00,3363.16,Laptop,Komputery
...,...,...,...,...,...,...,...,...,...,...
5001,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD01176,2021-02-18 23:00:00,1545.44,Tablet,Komputery
5002,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD02851,2021-04-29 18:00:00,1049.31,Tablet,Elektronika
5003,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD04631,2021-07-12 22:00:00,684.56,Smartphone,Akcesoria
5004,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD01794,2021-03-16 17:00:00,1191.21,Smartphone,Akcesoria
5005,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD03880,2021-06-11 15:00:00,4559.99,Laptop,Akcesoria

In [289]:
merged_data_right = pd.merge(customers_data, orders_data, 'right', 'customer_id') #łączenie zestawów danych typ "right"
merged_data_right

,customer_id,name,email,signup_date,country,order_id,order_date,order_value,product_name,category
0,CUST0815,Customer J,customer815@example.com,2035-08-12,USA,ORD00001,2021-01-01 00:00:00,1984.58,Smartphone,Akcesoria
1,CUST0012,Customer M,customer12@example.com,2020-03-22,Wielka Brytania,ORD00002,2021-01-01 01:00:00,3578.78,Monitor,Komputery
2,CUST0318,Customer G,customer318@example.com,2026-02-01,Polska,ORD00003,2021-01-01 02:00:00,1416.78,Tablet,Elektronika
3,CUST0592,Customer U,customer592@example.com,2031-05-04,Niemcy,ORD00004,2021-01-01 03:00:00,1825.41,Tablet,Akcesoria
4,CUST0216,Customer I,customer216@example.com,2024-02-18,Polska,ORD00005,2021-01-01 04:00:00,961.72,Laptop,Komputery
...,...,...,...,...,...,...,...,...,...,...
4995,CUST0145,Customer P,customer145@example.com,2022-10-09,Polska,ORD04996,2021-07-28 03:00:00,2819.43,Laptop,Akcesoria
4996,CUST0065,Customer N,customer65@example.com,2021-03-28,Polska,ORD04997,2021-07-28 04:00:00,1789.54,Smartphone,Elektronika
4997,CUST0247,Customer N,customer247@example.com,2024-09-22,Polska,ORD04998,2021-07-28 05:00:00,1448.13,Tablet,RTV
4998,CUST0735,Customer H,customer735@example.com,2034-01-29,Polska,ORD04999,2021-07-28 06:00:00,1292.39,Laptop,Elektronika
4999,CUST0991,Customer D,customer991@example.com,2038-12-26,Francja,ORD05000,2021-07-28 07:00:00,3324.12,Smartphone,RTV

In [290]:
merged_data_inner = pd.merge(customers_data, orders_data, 'inner', 'customer_id') #łączenie zestawów danych typ "inner"
merged_data_inner

,customer_id,name,email,signup_date,country,order_id,order_date,order_value,product_name,category
0,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00813,2021-02-03 20:00:00,1931.66,Laptop,Elektronika
1,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00892,2021-02-07 03:00:00,1866.88,Laptop,Akcesoria
2,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02287,2021-04-06 06:00:00,1732.87,Tablet,Elektronika
3,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02564,2021-04-17 19:00:00,4187.44,Laptop,Elektronika
4,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02987,2021-05-05 10:00:00,3363.16,Laptop,Komputery
...,...,...,...,...,...,...,...,...,...,...
4995,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD01176,2021-02-18 23:00:00,1545.44,Tablet,Komputery
4996,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD02851,2021-04-29 18:00:00,1049.31,Tablet,Elektronika
4997,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD04631,2021-07-12 22:00:00,684.56,Smartphone,Akcesoria
4998,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD01794,2021-03-16 17:00:00,1191.21,Smartphone,Akcesoria
4999,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD03880,2021-06-11 15:00:00,4559.99,Laptop,Akcesoria

In [291]:
merged_data_outer = pd.merge(customers_data, orders_data, 'outer', 'customer_id') #łączenie zestawów danych typ "outer"
merged_data_outer

,customer_id,name,email,signup_date,country,order_id,order_date,order_value,product_name,category
0,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00813,2021-02-03 20:00:00,1931.66,Laptop,Elektronika
1,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD00892,2021-02-07 03:00:00,1866.88,Laptop,Akcesoria
2,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02287,2021-04-06 06:00:00,1732.87,Tablet,Elektronika
3,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02564,2021-04-17 19:00:00,4187.44,Laptop,Elektronika
4,CUST0001,Customer B,customer1@example.com,2020-01-05,Polska,ORD02987,2021-05-05 10:00:00,3363.16,Laptop,Komputery
...,...,...,...,...,...,...,...,...,...,...
5001,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD01176,2021-02-18 23:00:00,1545.44,Tablet,Komputery
5002,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD02851,2021-04-29 18:00:00,1049.31,Tablet,Elektronika
5003,CUST0999,Customer L,customer999@example.com,2039-02-20,Wielka Brytania,ORD04631,2021-07-12 22:00:00,684.56,Smartphone,Akcesoria
5004,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD01794,2021-03-16 17:00:00,1191.21,Smartphone,Akcesoria
5005,CUST1000,Customer M,customer1000@example.com,2039-02-27,Polska,ORD03880,2021-06-11 15:00:00,4559.99,Laptop,Akcesoria

b. Połączenia "left", "inner" i "outer" w tym wypadku niczym się nie różnią. Wybranie tych typów powoduje utworzenie DataFrame zawierającego wszystkich klientów i dokonane przez nich zamówienia. Prawa tabela zostaje dołączona do lewej. W wypadku "right" sytuacja jest odwrotna, do każdego zamówienia dołączone zostały pełne dane klienta, który je stworzył. Lewa tabela zostaje dołączona do prawej.

In [292]:
#c.
customers_no_orders = merged_data_left[merged_data_left['order_id'].isna()].iloc[:, :5] #utworzenie nowego DataFrame, w którym znajdują się wszyscy klienci ze złączonego zestawu danych, dla których pole "order_id" jest puste, nowy zestaw jest ograniczony tylko do pierwszych pięciu kolumn
customers_no_orders

,customer_id,name,email,signup_date,country
151,CUST0034,Customer I,customer34@example.com,2020-08-23,Wielka Brytania
1192,CUST0249,Customer P,customer249@example.com,2024-10-06,Wielka Brytania
1672,CUST0346,Customer I,customer346@example.com,2026-08-16,Niemcy
2667,CUST0545,Customer Z,customer545@example.com,2030-06-09,Niemcy
3523,CUST0706,Customer E,customer706@example.com,2033-07-10,Wielka Brytania
4827,CUST0967,Customer F,customer967@example.com,2038-07-11,Francja

In [293]:
#d.
new_orders = pd.DataFrame(
    [['ORD05001','CUST0034', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV'],
     ['ORD05002','CUST0249', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV'],
     ['ORD05003','CUST0346', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV'],
     ['ORD05004','CUST0545', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV'],
     ['ORD05005','CUST0706', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV'],
     ['ORD05006','CUST0967', '2024-12-13 07:00:00', 3324.12, 'Smartphone', 'RTV']],
    columns=['order_id', 'customer_id', 'order_date', 'order_value', 'product_name', 'category']) #DataFrame z nowymi zamówieniami
orders_data = pd.concat([orders_data, new_orders]) #dodanie nowych zamówień
orders_data.tail(6) #wyświetlenie sześciu ostatnich rekordów z zestawu zamówień, w celu potwierdzenia ich dodania

,order_id,customer_id,order_date,order_value,product_name,category
0,ORD05001,CUST0034,2024-12-13 07:00:00,3324.12,Smartphone,RTV
1,ORD05002,CUST0249,2024-12-13 07:00:00,3324.12,Smartphone,RTV
2,ORD05003,CUST0346,2024-12-13 07:00:00,3324.12,Smartphone,RTV
3,ORD05004,CUST0545,2024-12-13 07:00:00,3324.12,Smartphone,RTV
4,ORD05005,CUST0706,2024-12-13 07:00:00,3324.12,Smartphone,RTV
5,ORD05006,CUST0967,2024-12-13 07:00:00,3324.12,Smartphone,RTV

In [294]:
merged_data_left = pd.merge(customers_data, orders_data, 'left', 'customer_id') #ponowne łączenie danych w celu uzupełnienia braków w zamówieniach

### Zadanie 2.	Tworzenie tabel przestawnych
Wykorzystaj zestaw zamówień i przeprowadź następujące operacje:
a.	Stwórz tabelę przestawną (pivot_table) pokazującą sumę wartości zamówień (order_value) w podziale na klientów oraz kategorie produktów.
b.	Dla każdego klienta oblicz średnią wartość zamówienia oraz liczbę zamówień.
c.	Za pomocą melt() przekształć tabelę przestawną do formatu długiego (ang. long format).

In [295]:
#a.
clients_order_values_categories = orders_data.pivot_table(
    values = 'order_value', #wartość do funkcji agregacyjnej
    index = 'customer_id', #indeks, według którego dopasowywane są dane
    columns = 'category', #kolumny, które stanowią poszczególne kategorie
    aggfunc = 'sum', #typ funkcji agregacyjnej
    fill_value = 0 #wartość, którą uzupełniane są puste miejsca
) #tworzenie tabeli przestawnej, która sumuje wartość zamówień klientów z każdej kategorii
clients_order_values_categories.index.name = 'customer_id' #nadanie nazwy indeksowi
clients_order_values_categories

category     Akcesoria  Elektronika  Komputery     RTV
customer_id
CUST0001       1866.88     10452.59    3363.16     0.0
CUST0002       2123.27       646.15       0.00     0.0
CUST0003          0.00      4655.70    7790.69     0.0
CUST0004          0.00      4167.72       0.00     0.0
CUST0005          0.00         0.00    4012.99     0.0
...                ...          ...        ...     ...
CUST0996          0.00     11783.72       0.00     0.0
CUST0997       1098.69      1608.08     295.98     0.0
CUST0998       1458.91      7960.03       0.00  3332.5
CUST0999        684.56      1049.31    2937.02     0.0
CUST1000       5751.20         0.00       0.00     0.0

[1000 rows x 4 columns]

In [296]:
#b.
customer_stats = orders_data.groupby('customer_id').agg( #tworzenie tabeli przestawnej
    average_order_value = ('order_value', 'mean'),  #średnia wartość zamówienia
    order_count = ('order_value', 'count')           #liczba zamówień
)
customer_stats['average_order_value'] = customer_stats['average_order_value'].round(2) #zaokrąglenie średniej wartości zamówienia do dwóch miejsc po przecinku
customer_stats

             average_order_value  order_count
customer_id
CUST0001                 2613.77            6
CUST0002                  923.14            3
CUST0003                 1778.06            7
CUST0004                 4167.72            1
CUST0005                 4012.99            1
...                          ...          ...
CUST0996                 3927.91            3
CUST0997                  750.69            4
CUST0998                 3187.86            4
CUST0999                 1167.72            4
CUST1000                 2875.60            2

[1000 rows x 2 columns]

In [297]:
#c.
long_format = clients_order_values_categories.reset_index().melt( #przekształcanie tabeli przestawnej na format długi, reset_index powoduje zamianę indeksu na zwykła kolummnę
    id_vars = 'customer_id',        #kolumna, która pozostaje bez zmian (indeks)
    var_name = 'category',    #nazwa kolumny, która przechowuje dawne nagłówki kolumn
    value_name = 'order_values'        #nazwa kolumny z wartościami
)
long_format

     customer_id   category  order_values
0       CUST0001  Akcesoria       1866.88
1       CUST0002  Akcesoria       2123.27
2       CUST0003  Akcesoria          0.00
3       CUST0004  Akcesoria          0.00
4       CUST0005  Akcesoria          0.00
...          ...        ...           ...
3995    CUST0996        RTV          0.00
3996    CUST0997        RTV          0.00
3997    CUST0998        RTV       3332.50
3998    CUST0999        RTV          0.00
3999    CUST1000        RTV          0.00

[4000 rows x 3 columns]

### Zadanie 3.	Tworzenie nowych kolumn
Na zestawie zamówień wykonaj następujące operacje:
a.	Dodaj nową kolumnę vat, obliczając 23% podatku VAT od wartości każdego zamówienia.
b.	Stwórz kolumnę order_date_month, która zawiera tylko nazwę miesiąca z daty zamówienia.
c.	Zdefiniuj nową kolumnę high_value_order, która przyjmuje wartość True, jeśli zamówienie przekracza wartość 1000, i False w przeciwnym razie.

In [298]:
#a. Dodanie kolumny `vat` obliczającej 23% podatku VAT
orders_data['vat'] = orders_data['order_value'] * 0.23
#b. Stworzenie kolumny `order_date_month` zawierającej nazwę miesiąca
orders_data['order_date_month'] = pd.to_datetime(orders_data['order_date']).dt.month_name()
#c. Definiowanie kolumny `high_value_order`
orders_data['high_value_order'] = orders_data['order_value'] > 1000
orders_data.head()

,order_id,customer_id,order_date,order_value,product_name,category,vat,order_date_month,high_value_order
0,ORD00001,CUST0815,2021-01-01 00:00:00,1984.58,Smartphone,Akcesoria,456.4534,January,True
1,ORD00002,CUST0012,2021-01-01 01:00:00,3578.78,Monitor,Komputery,823.1194,January,True
2,ORD00003,CUST0318,2021-01-01 02:00:00,1416.78,Tablet,Elektronika,325.8594,January,True
3,ORD00004,CUST0592,2021-01-01 03:00:00,1825.41,Tablet,Akcesoria,419.8443,January,True
4,ORD00005,CUST0216,2021-01-01 04:00:00,961.72,Laptop,Komputery,221.1956,January,False

### Zadanie 4.	Przekształcanie danych za pomocą apply()
Przeprowadź zaawansowane operacje na danych:
a.	Użyj apply() na kolumnie product_name, aby policzyć długość nazwy każdego produktu.
b.	Stwórz funkcję, która oznacza zamówienia jako „małe”, „średnie” lub „duże” w zależności od wartości zamówienia (order_value), i zaimplementuj ją przy użyciu apply().

In [299]:
#a. Utworzenie nowej kolumny "product_name_length", która przechowuje długość nazw produktów
orders_data['product_name_length'] = orders_data['product_name'].apply(len)
#b.
def classify_order(value): # Definiowanie funkcji klasyfikującej zamówienia
    if value < 500:
        return "small"
    elif 500 <= value <= 1000:
        return "medium"
    else:
        return "big"

# Zastosowanie funkcji do kolumny 'order_value' za pomocą apply()
orders_data['order_size'] = orders_data['order_value'].apply(classify_order) #Utworzenie nowej kolumny, w której zamówienia oznaczone są jako małe(mniej niż 500), średnie(nie mniej niż 500, ale nie więcej niż 1000) lub duże(więcej niż 1000), w zależności od wartości kolumny order_value
orders_data.head()

,order_id,customer_id,order_date,order_value,product_name,category,vat,order_date_month,high_value_order,product_name_length,order_size
0,ORD00001,CUST0815,2021-01-01 00:00:00,1984.58,Smartphone,Akcesoria,456.4534,January,True,10,big
1,ORD00002,CUST0012,2021-01-01 01:00:00,3578.78,Monitor,Komputery,823.1194,January,True,7,big
2,ORD00003,CUST0318,2021-01-01 02:00:00,1416.78,Tablet,Elektronika,325.8594,January,True,6,big
3,ORD00004,CUST0592,2021-01-01 03:00:00,1825.41,Tablet,Akcesoria,419.8443,January,True,6,big
4,ORD00005,CUST0216,2021-01-01 04:00:00,961.72,Laptop,Komputery,221.1956,January,False,6,medium

### Zadanie 5.	Agregacja danych
Skorzystaj z zestawu danych połączonych w Zadaniu 1 i wykonaj:
a.	Grupowanie po kolumnie customer_id, aby obliczyć:
    i.	łączną wartość zamówień każdego klienta,
    ii.	liczbę zamówień,
    iii.	maksymalną wartość zamówienia.
b.	Dla każdej kategorii produktu oblicz sumaryczną wartość sprzedaży oraz liczbę zamówień.
c.	Przekształć wyniki agregacji na formę tabeli przestawnej.

In [300]:
#a.
customer_order_stats = merged_data_left.groupby('customer_id').agg( #grupowanie po unikalnym id każdego klienta
    total_order_value=('order_value', 'sum'),  #łączna wartość zamówień
    order_count=('order_id', 'count'),        #liczba zamówień
    max_order_value=('order_value', 'max')    #maksymalna wartość zamówienia
)
customer_order_stats

             total_order_value  order_count  max_order_value
customer_id
CUST0001              15682.63            6          4187.44
CUST0002               2769.42            3          1082.43
CUST0003              12446.39            7          4123.10
CUST0004               4167.72            1          4167.72
CUST0005               4012.99            1          4012.99
...                        ...          ...              ...
CUST0996              11783.72            3          4911.46
CUST0997               3002.75            4          1397.86
CUST0998              12751.44            4          4366.37
CUST0999               4670.89            4          1545.44
CUST1000               5751.20            2          4559.99

[1000 rows x 3 columns]

In [301]:
#b.
product_stats = merged_data_left.groupby('product_name').agg( #grupowanie po unikalnej nazwie każdego produktu
    total_sales_value = ('order_value', 'sum'), #łączna wartość sprzedaży
    total_sales_amount = ('product_name', 'count') #łączna ilość sprzedaży
)
product_stats

              total_sales_value  total_sales_amount
product_name
Headphones           1238797.40                 500
Laptop               3700885.48                1479
Monitor              1149924.24                 477
Smartphone           3904758.17                1532
Tablet               2500036.28                1018

In [302]:
#c.
pivot_customer_order_stats = customer_order_stats.reset_index().pivot_table( #tworzenie tabeli przestawnej z agregacji z danymi klientów z poprzedniego podpunktu
    index='customer_id',
    values=['total_order_value', 'order_count', 'max_order_value']
)
pivot_customer_order_stats

             max_order_value  order_count  total_order_value
customer_id
CUST0001             4187.44          6.0           15682.63
CUST0002             1082.43          3.0            2769.42
CUST0003             4123.10          7.0           12446.39
CUST0004             4167.72          1.0            4167.72
CUST0005             4012.99          1.0            4012.99
...                      ...          ...                ...
CUST0996             4911.46          3.0           11783.72
CUST0997             1397.86          4.0            3002.75
CUST0998             4366.37          4.0           12751.44
CUST0999             1545.44          4.0            4670.89
CUST1000             4559.99          2.0            5751.20

[1000 rows x 3 columns]

In [303]:
pivot_product_stats = product_stats.reset_index().pivot_table( #tworzenie tabeli przestawnej z agregacji z danymi produktów z poprzedniego podpunktu
    index='product_name',
    values=['total_sales_value', 'total_sales_amount']
)
pivot_product_stats

              total_sales_amount  total_sales_value
product_name
Headphones                 500.0         1238797.40
Laptop                    1479.0         3700885.48
Monitor                    477.0         1149924.24
Smartphone                1532.0         3904758.17
Tablet                    1018.0         2500036.28

### Zadanie 6.	Zapisanie i załadowanie danych
a.	Zapisz wyniki swojej analizy (np. tabelę przestawną) do pliku CSV.
b.	Wczytaj zapisany plik i potwierdź, że dane zostały poprawnie zapisane i wczytane.

In [304]:
#a. Zapis tabeli przestawnej ze statystykami produktów do pliku csv
pivot_product_stats.to_csv('statystyki_produktów.csv')

In [305]:
#b. Wczytanie zapisanego pliku
write_test = pd.read_csv('statystyki_produktów.csv')
write_test

  product_name  total_sales_amount  total_sales_value
0   Headphones               500.0         1238797.40
1       Laptop              1479.0         3700885.48
2      Monitor               477.0         1149924.24
3   Smartphone              1532.0         3904758.17
4       Tablet              1018.0         2500036.28

### Zadanie 7.	Zadanie otwarte
Wykorzystując dwa zestawy danych, które łączą informacje o klientach i ich zamówieniach:
a.	Stwórz raport podsumowujący w formie tabeli, który zawiera:
i.	Identyfikator klienta.
ii.	Całkowitą wartość zamówień.
iii.	Najczęściej kupowaną kategorię produktów.
iv.	Procentową wartość dużych zamówień (powyżej 1000 zł) w stosunku do wszystkich zamówień.
b.	Zapisz raport do pliku CSV i przygotuj opis dla osoby analizującej dane.

In [309]:
#a. Tworzenie nowych kolumn i raportu
merged_data_left['high_value_order'] = merged_data_left['order_value'] > 1000 #utworzenie kolumny high_value_order, takiej samej jak w zbiorze orders_data w celu ułatwienia sporządzania raportu
report = merged_data_left.groupby('customer_id').agg( #grupowanie po identyfikatorze klienta
    total_order_value = ('order_value', 'sum'), #policzenie całkowitej wartości wszystkich zamówień klienta
    most_common_category = ('product_name', lambda x: x.mode().iloc[0]), #najczęściej kupowana kategoria produktów przez klienta
    high_value_order_percent = ( #procent dużych zamówień klienta
        'high_value_order', lambda x: (x.sum() / x.count()) * 100
    )
).reset_index()
report['total_order_value'] = report['total_order_value'].round(2)
report['high_value_order_percent'] = report['high_value_order_percent'].round(2)
report

,customer_id,total_order_value,most_common_category,high_value_order_percent
0,CUST0001,15682.63,Laptop,100.00
1,CUST0002,2769.42,Laptop,66.67
2,CUST0003,12446.39,Tablet,71.43
3,CUST0004,4167.72,Laptop,100.00
4,CUST0005,4012.99,Tablet,100.00
...,...,...,...,...
995,CUST0996,11783.72,Tablet,100.00
996,CUST0997,3002.75,Tablet,50.00
997,CUST0998,12751.44,Laptop,100.00
998,CUST0999,4670.89,Tablet,75.00
999,CUST1000,5751.20,Laptop,100.00

In [310]:
#b. Zapis raportu do pliku CSV
report.to_csv('raport_podsumowujący.csv', index=False)

### Wnioski

Laboratorium pomogło mi przećwiczyć pracę na dużych zbiorach danych, tworzenie zestawień oraz tabeli przestawnych. Znajomość SQL pomogła w ukończeniu laboratorium.